:root {
  --slidev-theme-code-background: lightgray;
  --slidev-theme-primary: #fff;
  --slidev-theme-background: #fff;
  --slidev-theme-color: #000;
  --slidev-theme-cover-headingBg: #092E20;
  --slidev-theme-cover-headingColor: #fff;
}

:not(pre) > code:before, :not(pre) > code:after {
  content: '';
}

.none-enter-active,
.none-leave-active {
  transition: none;
}

.none-enter-from,
.none-leave-to {
  opacity: 0;
}
